.form-title h1 {
    font-family: Open-Sans, sans-serif;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 8px;
}

.task-form {
    display: flex;
}
.form-controls {
    height: 52px;
    line-height: 1.5;
    padding: 0 .75rem;
}
.task-form input[type="text"] {
    flex: 1;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.task-form input[type="text"]:active {
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.task-form button {
    margin-left: 10px;
    background-color: #0062cc;
    border-color: #005cbf;
    color: #fff;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.task-form button:active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}