body {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    min-height: 100%;
    width: 100%;
}
.wrapper {
    width: 100%;
}
.template {
    display: grid;
    grid-template-columns: 600px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}
